NODE_ENV=development
PORT=8080
BASE_SERVER_URL=http://localhost:8080
BASE_CLIENT_URL=http://localhost:5173
API_PREFIX=/api/v1

CSRF_SECRET=

JWT_PUBLIC_KEY=

JWT_PRIVATE_KEY=

DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3307
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=db_test
ENABLE_ORM_LOGS=false

JWT_EXPIRATION_TIME=1d

ENABLE_DOCUMENTATION=true

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=

MAIL_FROM=
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=